<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>嵌套布局和流动布局</title>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<!-- 1.container居中展示 -->
<div class="container"> 
	<span style="color:red">嵌套布局和流动布局：<br>
    1.嵌套布局：即一个应用了网格布局的容器中再使用其他网格布局的容器;<br>
    &nbsp;&nbsp;&nbsp;例如:在区块三中，再调整为两栏布局，每栏为2个网格<br>
    2.流动布局：页面会根据窗口的大小自动进行缩放;<br>
    &nbsp;&nbsp;&nbsp;方法：只需要将布局容器类container换为container-fluid即可，同时将row容器等也添加换为row-fluid<br>
    &nbsp;&nbsp;&nbsp;注意：网格分割是相对的概念，比如区块六，分两栏，则相对于区块六进行分割，会认为区块六是12个网格，则每栏分割为span6
    </span> 
    
    <!-- 使用教程提供的模板 -->
    <h1 class="page-header">布局<small> 使用Bootstrap嵌套布局</small></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nibh est, sagittis sit amet consectetur a, rhoncus dignissim ligula. Curabitur at neque eget quam accumsan vestibulum. Maecenas facilisis tellus quis nisl facilisis eget mollis lectus feugiat. Etiam pharetra mattis ultrices. In ac mi metus, ac pharetra ipsum. Aenean imperdiet sem purus. Suspendisse quis odio eu neque varius posuere. Fusce tincidunt tincidunt arcu non viverra. Vivamus dui eros, rhoncus cursus porta quis, sollicitudin a ante. Aliquam porta euismod sollicitudin.</p>
    
    <!-- 2.class="row":分栏展示，网格布局 -->
    <div class="row">
        <div class="span4">
            <h2 class="page-header">区块一</h2>
            <p>consectetur adipiscing elit,Lorem ipsum dolor sit amet. Nulla nibh est, sagittis sit amet consectetur a, rhoncus dignissim ligula. Curabitur at neque eget quam accumsan vestibulum. </p>
        </div>
        <div class="span4">
            <h2 class="page-header">区块二</h2>
            <p>Lorem ipsum dolor sit amet, quam accumsan vestibulum, consectetur adipiscing elit. Nulla nibh est, sagittis sit amet consectetur a, rhoncus dignissim ligula. Curabitur at neque eget . </p>
        </div>
        <div class="span4">
            <h2 class="page-header">区块三</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nibh est, sagittis sit amet consectetur a, rhoncus dignissim ligula. Curabitur at neque eget quam accumsan vestibulum. </p>
            <div class="row">
                <div class="span2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                <div class="span2">Nulla nibh est, sagittis sit amet consectetur a</div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <h1 class="page-header">布局<small> 使用Bootstrap流动布局</small></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nibh est, sagittis sit amet consectetur a, rhoncus dignissim ligula. Curabitur at neque eget quam accumsan vestibulum. Maecenas facilisis tellus quis nisl facilisis eget mollis lectus feugiat. Etiam pharetra mattis ultrices. In ac mi metus, ac pharetra ipsum. Aenean imperdiet sem purus. Suspendisse quis odio eu neque varius posuere. Fusce tincidunt tincidunt arcu non viverra. Vivamus dui eros, rhoncus cursus porta quis, sollicitudin a ante. Aliquam porta euismod sollicitudin.</p>
    <div class="row-fluid">
        <div class="span4">
            <h2 class="page-header">区块四</h2>
            <p>consectetur adipiscing elit,Lorem ipsum dolor sit amet. Nulla nibh est, sagittis sit amet consectetur a, rhoncus dignissim ligula. Curabitur at neque eget quam accumsan vestibulum. </p>
        </div>
        <div class="span4">
            <h2 class="page-header">区块五</h2>
            <p>Lorem ipsum dolor sit amet, quam accumsan vestibulum, consectetur adipiscing elit. Nulla nibh est, sagittis sit amet consectetur a, rhoncus dignissim ligula. Curabitur at neque eget . </p>
        </div>
        <div class="span4">
            <h2 class="page-header">区块六</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nibh est, sagittis sit amet consectetur a, rhoncus dignissim ligula. Curabitur at neque eget quam accumsan vestibulum. </p>
            <div class="row-fluid">
                <div class="span6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                <div class="span6">Nulla nibh est, sagittis sit amet consectetur a</div>
            </div>
        </div>
    </div>
</div>
<script src="../bootstrap/js/jquery-1.7.2.min.js"></script> 
<script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
